* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0e0b1b;
  font-family: 'Comfortaa', cursive, sans-serif;
  font-weight: 100;
}

.container {
  max-width: 1000px;
  margin: auto;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
}

.title {
  font-family: "Lightsaber";
  font-size: 130px;
}

.header-text {
  text-align: center;
  font-size: 130px;
  color: #db2a3a;
  text-shadow: 0 0 20px #db2a3a;
}

.header-author {
  display: block;
  color: #84fcfd;
  text-shadow: 0 0 20px #84fcfd;
}

.header-img {
  max-width: 100%;
}

.header-img img {
  max-width: 100%;
}

.lesson {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.lesson-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding-right: 50px;
  padding-top: 20px;
}

.lesson-title__text {
  text-align: center;
  color: #bc2a8d;
  text-shadow: 0 0 10px #bc2a8d;
  line-height: 0.7;
}

.lesson-title__img {
  margin-top: 60px;
}

.lesson-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.lesson__item {
  width: 500px;
  border-radius: 30px;
  height: 60px;
  margin-bottom: 10px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lesson__item:hover {
  -webkit-box-shadow: 0 0 20px #bc2a8d;
          box-shadow: 0 0 20px #bc2a8d;
  color: #bc2a8d;
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.add-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.add-title__text {
  text-align: center;
  color: #84fcfd;
  text-shadow: 0 0 10px #84fcfd;
  line-height: 0.7;
}

.add-title__img {
  margin-top: 60px;
}

.add-title__img img {
  display: block;
  margin: auto;
  max-width: 60%;
}

.add-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add__item {
  width: 500px;
  height: 60px;
  margin-bottom: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.add__item:hover {
  border-radius: 30px;
  -webkit-box-shadow: 0 0 20px #84fcfd;
          box-shadow: 0 0 20px #84fcfd;
  color: #84fcfd;
}

.practice__title {
  margin: 0;
  text-align: center;
  color: #db2a3a;
  text-shadow: 0 0 20px #db2a3a;
}

.footer-social {
  color: #fff;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-social__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 20px;
  cursor: pointer;
}

.vk:hover {
  border-color: #00aced;
  -webkit-box-shadow: 0px 0px 20px #00aced;
          box-shadow: 0px 0px 20px #00aced;
  color: #00aced;
}

.instagram:hover {
  border-color: #bc2a8d;
  -webkit-box-shadow: 0px 0px 20px #bc2a8d;
          box-shadow: 0px 0px 20px #bc2a8d;
  color: #bc2a8d;
}

.google:hover {
  border-color: #db2a3a;
  -webkit-box-shadow: 0px 0px 20px #db2a3a;
          box-shadow: 0px 0px 20px #db2a3a;
  color: #db2a3a;
}

@font-face {
  font-family: "NEON";
  font-style: normal;
  font-weight: normal;
  src: url("../font/NEON.ttf") format("truetype");
}

@font-face {
  font-family: "potra";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Potra.ttf") format("truetype");
}

@font-face {
  font-family: "Lightsaber";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lightsaber.ttf") format("truetype");
}
/*# sourceMappingURL=style.css.map */