.kind
  &-block
    padding: 90px 0px
  &__title
    font-size: 35px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 75px
    text-align: center
  &-cards 
    max-width: 80%
    margin: auto
    padding-top: 90px
    display: flex
    justify-content: center
  &-item 
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    max-width: 276px
    margin-right: 24px
  &__buttons
    margin-top: 29px
    display: flex
    justify-content: space-between
  &__button
    max-width: 133px
    padding: 15px 35px

.card__title
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase
  text-align: center

a 
  text-decoration: none
  
  line-height: 25px;
  text-transform: uppercase;
  width: 133px;
  border: 2px solid #66cc66;
  padding: 15px 0px
  color: $main-color
  margin-right: 10px
  text-align: center
  
